@import "_variables";
@import "_functions";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a:link {
    text-decoration: none;
    //color: white;
}

a:visited {
    text-decoration: none;
    //color: white;
}

body {
    display: grid;
    grid-template-columns: $side_col_size minmax(middle_col_size(), 1fr) $side_col_size;
}
