@import "_variables";
@import "_functions";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a:link {
    text-decoration: none;
    //color: black;
}

a:visited {
    text-decoration: none;
    //color: black;
}

.line {
    height: 1px;
    width: 15rem;
    color: $dark_graish_violet;
}

body {
    display: grid;
    grid-template-columns: $side_col_size minmax(middle_col_size(), 1fr) $side_col_size;
    grid-template-rows: repeat(4, min-content);
}
