.footer__container {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    margin-top: 10rem;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: $side_col_size minmax(middle_col_size(), 1fr) $side_col_size;
}

.footer {
    align-self: center;
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, min-content);


    &__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

    }

    &__icons {
        grid-row: 1 / 2;
        grid-column: 5 / 6;
        display: flex;
        height: 30px;
        width: 200px;
        justify-content: space-between;
        fill: rgb(161, 157, 158);


        &-icon:hover {
            fill: black;
        }
    }

    &__breakline{
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        color: rgb(160, 160, 159);
        width: 100%;
        height: 1px;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    &__navitem {
        grid-row: 3 / 4;
        font-family: $font_body;
        font-size: 1.4rem;

        &-headline {
            color: $dark_graish_violet;
            margin-bottom: 3rem;
        }

        &-ul {
            list-style-type: none;

            &--li {
                padding-bottom: 1rem;
                

                &:hover {
                    text-decoration: underline;
                }

                & a:link {
                    color: black;
                }
                
                & a:visited {
                    color: black;
                }

            }
        }
    }
}