@import "_variables";

.mobile_nav {
    display: none;
}

.header{
    display: grid;
    grid-template-columns: $side_col_size minmax(middle_col_size(), 1fr) $side_col_size;



    &__top {
        grid-column: 2 / 3;
        grid-row: 1;
        margin-top: 2rem;
        margin-bottom: 2rem;

        display: flex;
        justify-content: space-between;

        .logo{
            height: $logo_size;
            align-self: center;
        }

        .nav__desktop{
            align-self: center;
            
            &-ul {
                display: flex;
                list-style-type: none;
                font-family: $font_body;

                .nav__desktop-button{
                    font-size: 1.5rem;
                    align-self: center;
                }

                .nav__desktop-button:not(:last-child) {
                    margin-right: 2rem;
                    color: $dark_graish_violet;

                    a:link {
                        color: $dark_graish_violet;
                    }
                    
                    a:visited {
                        color: $dark_graish_violet;
                    }

                    &:hover {
                        a:link {
                            color: black;
                        }
                        
                        a:visited {
                            color: black;
                        }
                    }
                }

                .nav__desktop-button:last-child {
                    border-style: solid;
                    padding: 1rem 2.5rem;
                    color: black;
                    border-width: 2px;

                    a:link {
                        color: black;
                    }
                    
                    a:visited {
                        color: black;
                    }

                    &:hover {
                        transition: all 0.4s;
                        background-color: black;
                        border-color: black;
                        color: white;

                        a:link {
                            color: white;
                        }
                        
                        a:visited {
                            color: white;
                        }
                    }
                }
            }

        }
    }

    &__main-container {
        grid-row: 2/3;
        grid-column: 1 / -1;
        background-color: $very_dark_violet;
        display: grid;
        grid-template-columns: $side_col_size minmax(middle_col_size(), 1fr) $side_col_size;
        height: 60rem;
     }
    
    &__main {
        grid-column: 2 /3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, 80px);
        column-gap: 3rem;

            .line{
                grid-column: 1 / 2;
                grid-row: 2 /3;

            }

            &-slogen {
                grid-column: 1 / 2;
                grid-row: 2 / 4;
                margin-top: 4rem;
                color: white;
                font-family: $font_heading;
                font-size: 6.5rem;
                line-height: 6rem;
            }

            &-paragraph {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                margin-top: 4rem;
                font-size: 1.6rem;
                font-family: $font_body;
                line-height: 2.75rem;
                color: white;
            }

            &-button {
                grid-column: 1 / 2;
                grid-row: 6 / 7;
                width: fit-content;
                height: min-content;
                font-size: 1.3rem;
                font-family: $font_body;
                background-color: transparent;
                border-color: white;
                border-width: 2px;

                border-style: solid;
                padding: 0.75rem 2rem;
                margin-top: 5rem;

                & a {
                    color: white;
                }

                & a:hover {
                    color: $dark_violet;
                }

                &:hover {
                    color: $dark_violet;
                    background-color: white;
                    transition: all 0.4s;

                }
            }

            &-pattern--left{
                grid-column: 1 / 2;
                grid-row: 6 / -1;
                //height: 175%;
                transform: translateX(-$side_col_size);
            }

            &-pattern--right {
                justify-self: end;
                grid-column: 2 / 4;
                grid-row: 1 / 6;
                height: 50rem;
                transform: translateX($side_col_size);
            }

            &-image{
                grid-column: 2 / 3;
                grid-row: 2 / -1;
                width: 36.5vw;
            }

    }
}