@media screen and (max-width: 500px) {


    .findout_pattern{
        display: none;
    }

    .footer__container-image{
        display: none;
    }

    .footer__icons{
        display: none;
    }

    ///////////////////////////////////////////////////////

    .nav__desktop{
        display: none;
    }

    .nav__mobile{
        display: block;
    }

    .header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        
        &__top {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        }

        .logo{
            margin-left: 2rem;
        }

        &__main-container {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            display: block;
            //grid-template-columns: 1fr;
            //grid-template-rows: 1fr 1fr;
            height: fit-content; //overriding

         }

         &__main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50% repeat(2, min-content) 30vh;

            & hr {
                display: none;
            }

            &-image {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                width: fit-content;
            }

            &-slogen {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                margin-top: 0rem; // change
                font-size: 4rem;
                line-height: 4rem;
                justify-self: center;
                align-self: end;
                text-align: center;
                margin-bottom: 3rem;
            }

            &-paragraph {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                margin-top: 0rem;
                font-size: 1.3rem;
                line-height: 2rem;
                justify-self: center;
                text-align: center;
                margin-bottom: 3rem;
            }

            &-button {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                justify-self: center;
                text-align: center;
                
            }

            &-pattern--left {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            &-pattern--right {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                height: 35rem;
            }

        }
    }



}