.were_different{
    margin-top: 40vh;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    row-gap: 5rem;
    grid-row: repeat(3, min-content);

    &-headline{
        font-size: 6.5rem;
        font-family: $font_heading;
        margin-bottom: 1rem;
    }

    &-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;

        &--item {
            display: grid;
            row-gap: 2rem;
            grid-template-rows: min-content min-content min-content;

            &--icon {
                margin-bottom: 1rem;
            }

            &--headline{
                font-size: 2.75rem;
                font-weight: 100;
                font-family: $font_heading;
            }

            &--paragraph{
                font-size: 1.6rem;
                font-family: $font_body;
                color: $dark_graish_violet;
                line-height: 2.75rem;
            }
        }
    }
}